<ion-header>
  <ion-toolbar>
    <ion-title>Login - first</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <ion-item  style ="margin-top: 5vh;">
    <ion-label position = "floating">Email/Username</ion-label>
    <ion-input type = "text" [(ngModel)] = 'login.email'></ion-input>
  </ion-item>

  <ion-item   style ="margin-top: 5vh;">
    <ion-label position = "floating">Password</ion-label>
    <ion-input type = "password" [(ngModel)] = 'login.password' ></ion-input>
  </ion-item>
  
  <ion-button color= "primary" expand = 'block' fill = 'outline' (click)= "loginSubmit()">Login </ion-button>

</ion-content>
