<ion-header>
  
  <ion-toolbar>
    
    <ion-buttons slot ="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

     <ion-title>Details</ion-title>

    <ion-buttons slot ="end" (click)= "goProfile()">
      <ion-icon name ='person'></ion-icon>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card *ngFor = "let book of bookList" class ="ion-padding">
    <ion-card-title>
      {{ book.name }}
    </ion-card-title>
    <ion-card-content>
      {{ book.description }}
    </ion-card-content>
  </ion-card>

  
</ion-content>

  <ion-footer>
    <ion-buttons>
          <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed">
            <ion-fab-button>
              <ion-icon name = "add">  </ion-icon>
            </ion-fab-button>
          </ion-fab>
    </ion-buttons>
  </ion-footer>




