<ion-header>
  <ion-toolbar>

      
    <ion-buttons slot ="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot ="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor = "let book of myBookList" class ="ion-padding">
    <ion-card-title>
      {{ book.name }}
    </ion-card-title>
    <ion-card-content>
      {{ book.description }}
    </ion-card-content>


  </ion-card>
</ion-content>

